body{width:100%; }

h1{
}

h2{
}

hr{
	border-color:#747474;
	margin:20px 0px;
}

.clear{clear:both; font-size:.1em}


form{margin: 1em 2em 2em 2em;}

label{display:block;margin-top:1em; font-weight:bold}

.navbar{
	border-radius:0px;
}

.navbar-search{
margin-right:0px;
}

/*Random Doxygen overwrites*/

div.headertitle{
padding:0px;
font-weight:200;
font-size:36px;
color:#333;
margin: 0px;
clear: both;
}
#nav-path{
	display:none;
	
}
/*
div.navpath ul{
	float:right;
	display:block;
	
}

div.navpath li{
	display: inline;
	font-size: 10px;
	margin-left:10px;
}
	*/

.formulaDsp img{
	margin:auto;
	text-align:center;
}

.carousel-inner{
	border-radius:4px;
	overflow:hidden;
}
/* border-radius on carousel for chrome*/
.item{
 border-radius: 4px;
 overflow:hidden;
}

.carousel-control{
	border-radius:4px;
	
}
.nav-tabs{
	margin-top:20px;
	font-size:2em;
	font-weight:300;	
}
.nav-tabs li a{
	
	padding:10px 15px ;
	
}
.nav-tabs li a:active,.nav-tabs li a:focus{
	outline:none;
	
}

.memproto{
	position:relative;
}

.mlabels-right{
	position:absolute;
	top:3px;
	right:4px;
	
}
.mlabel{
	margin-left:4px;
}

.headertitle .mlabel{
	font-size:12px;
	
}

.navbar-brand{
	padding: 7.5px 10px;
	opacity:0.85;
}

.navbar-brand:hover{
	opacity:1.0;
}

.navbar-brand img{
	height:35px;
}

.memberdecls td{
	
	padding-left:8px;
}

.memberdecls .memItemRight{
	
	border-bottom:1px solid #ccc;
}
.memberdecls .memItemLeft{
	color:#B00;
}

.memberdecls .memItemRight a:first-child{
	font-weight:bold;
	
} 

.mdescRight {
    font-size: 13px;}

/* Code highlighting*/

.fragment,code{
font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
}
code{
	padding:0px;
}

.header .summary{
	font-size:10px;	
}

/* Class hierarchy overwrites*/

.icona{display:none;}

.directory .desc {
	font-size:13px;
	
}

.directory tr {
    border-top: 20px solid transparent;
}

.directory .levels{
	float:right;
	
	
}
.directory .levels span{
margin-left:5px;
cursor:pointer;
color:#208030;
	
}

.directory .levels span:hover{
color:#30c030;
}

.directory .arrow{ 
cursor:pointer;
}
	
	


/* Code listings */

div.fragment,pre.fragment{
	font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
        padding: 4px 6px;
        margin: 4px 8px 4px 2px;
        line-height:1.4;
	border: 1px solid #C4CFE5;
	font-size: 90%;
	color: #444 ; /*#C7254E;*/
	background-color: #F9F2F4;
	border-radius: 4px;
overflow-x:auto;
}

div.line {
        font-size: 12px;
	min-height: 12px;
	line-height: 1.4;
	text-wrap: unrestricted;
	white-space: -moz-pre-wrap; /* Moz */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre;      /* CSS3  */
	word-wrap: break-word;      /* IE 5.5+ */
	padding-bottom: 0px;
	margin: 0px;
}

div .line span{
line-height:1.4;
}

div.line.glow {
	background-color: cyan;
	box-shadow: 0 0 10px cyan;
}


span.lineno {
	padding-right: 8px;
	text-align: right;
	border-right: 1px solid #C4CFE5;
	background-color: none;
 white-space: pre;
 color:#ccc;
 display:inline-block;
}
span.lineno a {
	opacity:0.5;
	
}

span.lineno a:hover {
	text-decoration: none;
}


/* @group Code Colorization */

div.fragment .keyword {
	color: #008000
}

div.fragment .keywordtype {
	color: #604020
}

div.fragment .keywordflow {
	color: #e08000
}

div.fragment .comment {
	color: #800000
}

div.fragment .preprocessor {
	color: #806020
}

div.fragment .stringliteral {
	color: #002080
}

div.fragment .charliteral {
	color: #008080
}

div.fragment .vhdldigit { 
	color: #ff00ff 
}

div.fragment .vhdlchar { 
	color: #000000 
}

div.fragment .vhdlkeyword { 
	color: #700070 
}

div.fragment .vhdllogic { 
	color: #ff0000 
}



/*Code theme from highlight.js */
a.code{
	color:#444;
	color:#227522;
}

div.fragment{
	color:#444;
	
  /*background: #F0F0F0;*/
	
}

div.fragment .keyword {
	  font-weight: bold;
		color:#bb0000;
}

div.fragment .keywordtype {
	  color: #bb0000;
}

div.fragment .keywordflow {
	color: #e08000
}

div.fragment .comment {
	
	  color: #888888;
}

div.fragment .preprocessor {
  color: #2B6EA1;
}

div.fragment .stringliteral {
	
	  color: #1F811F;
}

div.fragment .charliteral {
	color: #008080
}

div.fragment .vhdldigit { 
	color: #ff00ff 
}

div.fragment .vhdlchar { 
	color: #000000 
}

div.fragment .vhdlkeyword { 
	color: #700070 
}

div.fragment .vhdllogic { 
	color: #0000ff 
}


blockquote {
        background-color: #F7F8FB;
        border-left: 2px solid #9CAFD4;
        margin: 0 24px 0 4px;
        padding: 0 12px 0 16px;
}

.formulaDsp {
    text-align: center;
}


/* @end */




/* tooltip related style info */

.ttc {
        position: absolute;
        display: none;
}

#powerTip {
	cursor: default;
	white-space: nowrap;
	background-color: white;
	border: 1px solid gray;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 1px 1px 7px gray;
	display: none;
	font-size: smaller;
	max-width: 80%;
	opacity: 0.9;
	padding: 1ex 1em 1em;
	position: absolute;
	z-index: 2147483647;
}

#powerTip div.ttdoc {
        color: grey;
	font-style: italic;
}

#powerTip div.ttname a {
        font-weight: bold;
}

#powerTip div.ttname {
        font-weight: bold;
}

#powerTip div.ttdeci {
        color: #006318;
}

#powerTip div {
        margin: 0px;
        padding: 0px;
        font: 12px/16px Roboto,sans-serif;
}

#powerTip:before, #powerTip:after {
	content: "";
	position: absolute;
	margin: 0px;
}

#powerTip.n:after,  #powerTip.n:before,
#powerTip.s:after,  #powerTip.s:before,
#powerTip.w:after,  #powerTip.w:before,
#powerTip.e:after,  #powerTip.e:before,
#powerTip.ne:after, #powerTip.ne:before,
#powerTip.se:after, #powerTip.se:before,
#powerTip.nw:after, #powerTip.nw:before,
#powerTip.sw:after, #powerTip.sw:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

#powerTip.n:after,  #powerTip.s:after,
#powerTip.w:after,  #powerTip.e:after,
#powerTip.nw:after, #powerTip.ne:after,
#powerTip.sw:after, #powerTip.se:after {
	border-color: rgba(255, 255, 255, 0);
}

#powerTip.n:before,  #powerTip.s:before,
#powerTip.w:before,  #powerTip.e:before,
#powerTip.nw:before, #powerTip.ne:before,
#powerTip.sw:before, #powerTip.se:before {
	border-color: rgba(128, 128, 128, 0);
}

#powerTip.n:after,  #powerTip.n:before,
#powerTip.ne:after, #powerTip.ne:before,
#powerTip.nw:after, #powerTip.nw:before {
	top: 100%;
}

#powerTip.n:after, #powerTip.ne:after, #powerTip.nw:after {
	border-top-color: #ffffff;
	border-width: 10px;
	margin: 0px -10px;
}
#powerTip.n:before {
	border-top-color: #808080;
	border-width: 11px;
	margin: 0px -11px;
}
#powerTip.n:after, #powerTip.n:before {
	left: 50%;
}

#powerTip.nw:after, #powerTip.nw:before {
	right: 14px;
}

#powerTip.ne:after, #powerTip.ne:before {
	left: 14px;
}

#powerTip.s:after,  #powerTip.s:before,
#powerTip.se:after, #powerTip.se:before,
#powerTip.sw:after, #powerTip.sw:before {
	bottom: 100%;
}

#powerTip.s:after, #powerTip.se:after, #powerTip.sw:after {
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin: 0px -10px;
}

#powerTip.s:before, #powerTip.se:before, #powerTip.sw:before {
	border-bottom-color: #808080;
	border-width: 11px;
	margin: 0px -11px;
}

#powerTip.s:after, #powerTip.s:before {
	left: 50%;
}

#powerTip.sw:after, #powerTip.sw:before {
	right: 14px;
}

#powerTip.se:after, #powerTip.se:before {
	left: 14px;
}

#powerTip.e:after, #powerTip.e:before {
	left: 100%;
}
#powerTip.e:after {
	border-left-color: #ffffff;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
#powerTip.e:before {
	border-left-color: #808080;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}

#powerTip.w:after, #powerTip.w:before {
	right: 100%;
}
#powerTip.w:after {
	border-right-color: #ffffff;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
#powerTip.w:before {
	border-right-color: #808080;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}

@media print
{
  #top { display: none; }
  #side-nav { display: none; }
  #nav-path { display: none; }
  body { overflow:visible; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
  .summary { display: none; }
  .memitem { page-break-inside: avoid; }
  #doc-content
  {
    margin-left:0 !important;
    height:auto !important;
    width:auto !important;
    overflow:inherit;
    display:inline;
  }
}

.inherit_header{
	border-bottom:1px solid #aaa;
	font-size:20px;
	font-weight:200;
}

.inherit_header td{
 padding-top:10px;
	
}

.inherit{
	display:none;
	
}

/* specific fix for the alphebetical class index*/
table table{
	width:100%;
}

.example-table {
	width:100%;
	table-layout: fixed;	
}

.example-table td{
    padding: 20px 10px;
    vertical-align: top;
    width: 50%;
		display:inline-block;
		word-wrap:break-word;
}

.example-table .header-cell{
	padding:0px;
	width:100%;
	border-bottom:1px solid grey;
}

.doxtable td{
	border-collapse: collapse;
	padding:5px;
	border:1px solid darkgrey;
}


/* Fixes for alphabetical class list */
div.qindex{
	color:transparent;
	font-size:0px;
}

.tablist li, div.qindex a.qindex{
	color:grey;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 0px;
	font-size: 14px;
	line-height: 1.42857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	border-color: #ccc;
	margin-left:-1px;
	float:left;
}
div.qindex a.qindex{
	padding: 6px 12px;
}

.tablist a{
	padding: 6px 12px;
	color:grey;
}

.tablist li:first-child,div.qindex a.qindex:first-child{
	border-bottom-left-radius:4px;
	border-top-left-radius:4px;
}

.tablist li:last-child, div.qindex a.qindex:last-child{
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
}


.tablist li:hover, .tablist li.current, div.qindex a.qindex:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
		text-decoration:none;
}

.tablist li:hover a{
    color: #333;
		text-decoration:none;
}

.tablist{
	padding-left:0px;
	
}

.ah{
	font-weight:300;
	font-size:24px;
	border-bottom:1px solid grey;
	margin:20px 0px 5px 0px ;
	line-height:1.1;
	color:#555;
}

.tablist{
	display:block;
	clear:both;
}

#navrow1{
	display:none;
}

#navrow2{
	display:none;	
}
#navrow3{
	display:block;
	clear:both;
	margin-bottom:10px;
}

#navrow4{
	display:block;
	clear:both;
	margin-bottom:10px;
}
.contents{
	clear:both;
}

.centered{
	margin:auto;
}

.image{
	text-align:center;
	margin: 20px 0px	
}
.caption{
	font-size:0.9em;
}

/* overide bootstrap for gcse elements (google search) as it doesnt expect border-box*/
#___gcse_0 *{
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

td.panel{
	display:block;
}
