name: Documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      publishBranch:
        description: "Branch to publish built docs"
        required: true
        default: "gh-pages"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install requirements
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            ninja-build \
            doxygen \
            texlive \
            texlive-latex-extra \
            texlive-font-utils

      - name: Check doxygen version
        run: doxygen --version

      - name: Build doc
        run: cmake -G Ninja -B build && cmake --build build && rm -rf build
        working-directory: doc

      - name: Run website install script
        run: ./scripts/website_install.sh

      - name: Grab redirect file
        run: cp ./scripts/redirect.html ./build/website/index.html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.event.inputs.publishBranch }} # The branch the action should deploy to.
          folder: build/website # The folder the action should deploy.
          clean: true
