name: macOS self-tests

on: push

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install requirements
        run: brew install make automake libtool autoconf doxygen && brew reinstall gfortran

      - name: Extra config
        run:
          printf '%s\n' '--enable-suppress-cgal-build --disable-shared' >> config/configure_options/default \
          && ( export LC_ALL=C; sort -o config/configure_options/default config/configure_options/default )

      - name: Build
        run: ./non_interactive_autogen.sh -s -j$(sysctl -n hw.logicalcpu)

      # Continue running even if the test fails so that the validation.log can be
      # uploaded and reviewed later on
      - name: Validate
        id: self_tests
        run: ./bin/parallel_self_test.py
        continue-on-error: true

      - name: Upload validation log file
        uses: actions/upload-artifact@v3
        with:
          name: validation-${{ runner.os }}.log
          path: ./validation.log

      - name: Propagate self-test status
        if: steps.self_tests.outcome == 'failure'
        run: exit 1
