name: Test build of docs

on:
  push:
    paths:
      - ".github/workflows/test-build-of-docs.yaml"
      - "demo_drivers/**"
      - "doc/**"
      - "oomph_build.py"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install requirements (minus doxygen)
        run: sudo apt-get install cmake doxygen gawk ninja-build make automake libtool libtool-bin autoconf gfortran g++ texlive texlive-latex-base texlive-fonts-recommended texlive-fonts-extra texlive-latex-extra texlive-font-utils

      - name: Check doxygen version
        run: doxygen --version

      - name: Build doc
        run: python3 oomph_build.py --no-build-tpl --no-build-oomph --build-doc -v
